body {
  background: linear-gradient(135deg, #0078d4, #5f4b8c); /* Fondo con gradiente continuo */
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
}

h1 {
  color: #ffffff; /* Color blanco para el encabezado */
}

.redes {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.redes a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  background-color: #6f2c91; /* Color morado fuerte */
  padding: 15px; /* Aumentar el padding para hacer los botones más grandes */
  border-radius: 50%; /* Botones redondos */
  transition: background-color 0.3s, transform 0.3s;
}

.redes a:hover {
  background-color: #5f4b8c; /* Morado más oscuro al pasar el mouse */
  transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
}

.comentarios {
  margin-top: 30px;
}

textarea {
  width: 300px;
  height: 100px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente para la caja de comentarios */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  color: white; /* Color del texto en la caja de comentarios */
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Color del texto del placeholder */
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #6f2c91; /* Color morado fuerte para el botón */
  color: white; /* Color del texto del botón */
}

button:hover {
  background-color: #5f4b8c; /* Morado más oscuro al pasar el mouse sobre el botón */
}